<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.uid" placeholder="请输入ID" />
                <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
                    $t('search')
                }}</Button>
                <Button icon="md-refresh" type="warning" style="margin-right: 12px;" @click="reset()">{{ $t('reset')
                }}</Button>
            </div>
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="nickname">
                    <strong>{{ row.nickname }}</strong>
                </template>

                <template slot-scope="{ row }" slot="max_level">
                    <strong>{{ row.max_level }}关</strong>
                </template>

                <template slot-scope="{ row }" slot="regionid">
                    <strong>{{ row.regionid }}区</strong>
                </template>

                <template slot-scope="{ row }" slot="serverid">
                    <strong>{{ row.serverid }}服</strong>
                </template>

                <template slot-scope="{ row }" slot="online_status">
                    <Tag color="success" v-if="row.online_status === 1">在线</Tag>
                    <Tag color="error" v-else>离线</Tag>
                </template>

                <template slot-scope="{ row }" slot="account_status">
                    <PopConfirm :onOk="unfreeze(row)" :title="'确认要解封账户 ' + row.nickname + ' 吗？'" transfer v-if="row.account_status === 1" >
                        <Button type="error" size="small">封号</Button>
                    </PopConfirm>
                    <PopConfirm :onOk="freeze(row)" :title="'确认要冻结账户 ' + row.nickname + ' 吗？'"  transfer v-else>
                        <Button type="success" size="small" >正常</Button>
                    </PopConfirm>
                </template>

                <template slot-scope="{ row }" slot="freeze_reason">
                    <strong>{{ row.freeze_reason }}</strong>
                </template>

                <template slot-scope="{ row }" slot="freeze_date">
                    <strong>{{ row.freeze_date }}</strong>
                </template>

                <template slot-scope="{ row }" slot="last_login_time">
                    <strong>{{ row.last_login_time }}</strong>
                </template>

                <template slot-scope="{ row }" slot="last_logout_time">
                    <strong>{{ row.last_logout_time }}</strong>
                </template>
                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>
                <!-- <template slot-scope="{ row }" slot="action"> -->
                    <!-- <Button type="primary" size="small" style="margin-right: 5px; " @click="show(row)">设置代理</Button> -->
                    <!-- <PopConfirm :onOk="del(row)" transfer>
                        <template>
                            <Button type="error" size="small">取消代理</Button>
                        </template>
                    </PopConfirm> -->
                <!-- </template> -->
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

        <Modal v-model="modal" title="代理设置" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :rules="RuleValidate" :label-width="100">

                <FormItem label="账号" prop="username">
                    <Input type="text" v-model="formCustom.username" placeholder="请输入账号"></Input>
                </FormItem>

                <FormItem label="密码" prop="password">
                    <Input type="password" v-model="formCustom.password" placeholder="请输入密码"></Input>
                </FormItem>

                <FormItem label="确认密码" prop="secondpassword">
                    <Input type="password" v-model="formCustom.secondpassword" placeholder="请输入确认密码"></Input>
                </FormItem>

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import MemberController from '@/controller/member';

export default class User extends MemberController {
}
</script>
