<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Button icon="md-add" type="info" @click="sendmail()">{{ $t('sendmail') }}</Button>
            </div>
            <Table :columns="columns" :data="data">
                <template slot-scope="{ row }" slot="title">
                    <strong>{{ row.title }}</strong>
                </template>

                <template slot-scope="{ row }" slot="content">
                    <strong>{{ row.content }}</strong>
                </template>

                <template slot-scope="{ row }" slot="sender">
                    <strong>{{ row.sender }}</strong>
                </template>

                <template slot-scope="{ row }" slot="receiver">
                    <strong>{{ row.receiver }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">详情</Button>
                </template>
            </Table>
        </Card>

        <Modal v-model="modal" title="邮件" @on-ok="ok"  @on-cancel="cancel" ok-text="发送">

            <Form ref="formCustom" :model="formCustom" :label-width="80">

                <FormItem label="接收用户" prop="receiver">
                    <Input v-model="formCustom.receiver" :readonly="!isadd" ></Input>
                </FormItem>

                <FormItem label="邮件标题" prop="title">
                    <Input type="text" v-model="formCustom.title" :readonly="!isadd"></Input>
                </FormItem>

                <FormItem label="邮件内容" prop="content">
                    <Input type="textarea" v-model="formCustom.content" :readonly="!isadd" ></Input>
                </FormItem>


                <FormItem label="奖励">
                    <div class="product-container">
                        <Row v-for="(item, index) in formCustom.rewards" :key="index">
                            <Col span="6" style="margin-right: 5px">
                            <FormItem prop="key" :label-width="180">
                                <Select v-model="item.key" placeholder="请选择物品" >
                                    <Option v-for="(option, index) in configItems" :value="option.value" :key="index" :disabled="!isadd">{{
                                        option.label }}</Option>
                                </Select>
                            </FormItem>
                            </Col>
                            <Col span="6" style="margin-right: 5px">
                            <FormItem prop="value" :label-width="180">
                                <InputNumber v-model="item.value" placeholder="请输入数量" :readonly="!isadd"/>
                            </FormItem>
                            </Col>
                            <Col span="6" style="margin-right: 5px">
                            <Button type="error" size="small" @click="removeProduct(index)" v-if="isadd">删除商品</Button>
                            </Col>

                        </Row>
                    </div>
                    <Button type="primary" size="small" @click="addProduct()" v-if="isadd">添加商品</Button>
                </FormItem>

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import MailController from '@/controller/mail';

export default class Activity extends MailController {
}
</script>
