<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Button icon="md-add" type="info"  @click="add()">{{ $t('add') }}</Button>
            </div>
                <Table row-key="id" :columns="columns" :data="data" border>
                    <template slot-scope="{ row }" slot="action">
                        <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">详情</Button>
                            <PopConfirm :onOk="remove(row.id)" transfer>
                                <template>
                                    <Button type="error" size="small">删除</Button>
                                </template>
                            </PopConfirm>
                    </template>
                </Table>
        </Card>


        <template>
            <Drawer title="菜单详情"  :closable="false" v-model="modal1" width="640">
                <Form ref="formCustom" :model="formCustom" :label-width="150">
                    <FormItem label="菜单类型" prop="menu_type">
                        <RadioGroup v-model="formCustom.menu_type">
                            <Radio label="0">一级菜单</Radio>
                            <Radio label="1">子菜单</Radio>
                            <Radio label="2">按钮/权限</Radio>
                        </RadioGroup>
                    </FormItem>

                    <FormItem label="菜单名称" prop="name" v-if="formCustom.menu_type != '2'">
                        <Input type="text" v-model="formCustom.name"  placeholder="请输入菜单名称" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="菜单标题" prop="title">
                        <Input type="text" v-model="formCustom.title"  placeholder="请输入菜单标题" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="上级菜单" prop="parent_id"  v-if="formCustom.menu_type != '0'">
                        <Select v-model="formCustom.parent_id" style="width:260px">
                            <Option v-for="item in data" :value="item.id" :key="item.id">{{ item.name }}</Option>
                        </Select>
                    </FormItem>

                    <FormItem label="菜单路径" prop="path">
                        <Input type="text" v-model="formCustom.path"  placeholder="请输入菜单路径" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="前端组件" prop="component" v-if="formCustom.menu_type != '2'">
                        <Input type="text" v-model="formCustom.component"  placeholder="请输入前端组件" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="跳转地址" prop="redirect"  v-if="formCustom.menu_type == '0'">
                        <Input type="text" v-model="formCustom.redirect"  placeholder="请输入跳转地址" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="菜单图标" prop="icon"  v-if="formCustom.menu_type != '2'">
                        <Input type="text" v-model="formCustom.icon"  placeholder="请选择菜单图标" style="width: 260px"></Input>
                    </FormItem>


                    <FormItem label="排序" prop="sort"  v-if="formCustom.menu_type != '2'">
                        <Input type="text" v-model="formCustom.sort"  placeholder="请输入菜单排序" style="width: 150px"></Input>
                    </FormItem>


                    <FormItem label="是否隐藏菜单" prop="hideInMenu"  v-if="formCustom.menu_type != '2'">
                        <i-switch v-model="formCustom.hideInMenu" @on-change="changehideInMenu">
                            <span slot="open">是</span>
                            <span slot="close">否</span>
                        </i-switch>
                    </FormItem>

                    <FormItem label="是否显示面包屑" prop="hideInBread"  v-if="formCustom.menu_type != '2'">
                        <i-switch  v-model="formCustom.hideInBread" @on-change="changehideInBread">
                            <span slot="open">是</span>
                            <span slot="close">否</span>
                        </i-switch>
                    </FormItem>


                    <FormItem label="是否缓存" prop="notCache"  v-if="formCustom.menu_type != '2'">
                        <i-switch v-model="formCustom.notCache" @on-change="changenotCache">
                            <span slot="open">是</span>
                            <span slot="close">否</span>
                        </i-switch>
                    </FormItem>


                    <FormItem label="是否微应用" prop="isMmin"  v-if="formCustom.menu_type != '2'">
                        <i-switch v-model="formCustom.isMmin" @on-change="changeisMmin">
                            <span slot="open">是</span>
                            <span slot="close">否</span>
                        </i-switch>
                    </FormItem>

                    <FormItem label="授权标识" prop="perms"  v-if="formCustom.menu_type == '2'">
                        <Input type="text" v-model="formCustom.perms"  placeholder="多个逗号分隔, 如user:list, user:create" style="width: 260px"></Input>
                    </FormItem>

                    <FormItem label="授权策略" prop="perms_type" v-if="formCustom.menu_type == '2'">
                        <RadioGroup v-model="formCustom.perms_type">
                            <Radio label="1">可见/可访问(授权后可见/可访问)</Radio>
                            <Radio label="2">可编辑(未授权时禁用)</Radio>
                        </RadioGroup>
                    </FormItem>

                    <FormItem label="授权策略" prop="btn_status" v-if="formCustom.menu_type == '2'">
                        <RadioGroup v-model="formCustom.btn_status">
                            <Radio label="0">无效</Radio>
                            <Radio label="1">有效</Radio>
                        </RadioGroup>
                    </FormItem>

                    <FormItem>
                        <Button type="primary" @click="ok()">{{ $t('save') }}</Button>
                        <Button @click="cancel()" style="margin-left: 8px">{{ $t('close') }}</Button>
                    </FormItem>
                </Form>
            </Drawer>
        </template>
    </div>
</template>
<script lang="ts">
import  MenuController  from '@/controller/menu';

export default class Role extends MenuController {
}
</script>
