<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Button icon="md-add" type="info" @click="add()">申请提现</Button>
            </div>
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="money">
                    <strong>{{ row.money }}</strong>
                </template>

                <template slot-scope="{ row }" slot="type">
                    <Tag color="success" v-if="row.type === 1">支付宝</Tag>
                    <Tag color="success" v-else-if="row.type === 2">银行卡</Tag>
                </template>

                <template slot-scope="{ row }" slot="account">
                    <strong>{{ row.account }}</strong>
                </template>

                <template slot-scope="{ row }" slot="taxes">
                    <strong>{{ row.taxes }}</strong>
                </template>

                <template slot-scope="{ row }" slot="status">
                    <Tag color="warning" v-if="row.status === 0">待审核</Tag>
                    <Tag color="success" v-else-if="row.status === 1">审核通过</Tag>
                    <Tag color="error" v-else-if="row.status === 2">审核拒绝</Tag>
                </template>

                <template slot-scope="{ row }" slot="content">
                    <strong>{{ row.content }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="updated_at">
                    <strong>{{ row.updated_at }}</strong>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

        <Modal v-model="modal" title="申请提现" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :label-width="50">

                <FormItem label="金额" prop="money">
                    <Input type="number" v-model="formCustom.money" placeholder="请输入提现金额"></Input>
                </FormItem>

                <FormItem label="备注" prop="content">
                    <Input type="text" v-model="formCustom.content" placeholder="请输入提现备注"></Input>
                </FormItem>

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import WithdrawController from '@/controller/withdraw';

export default class Withdraw extends WithdrawController {
}
</script>
