<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="money">
                    <strong>{{ row.money }}</strong>
                </template>

                <template slot-scope="{ row }" slot="taxes">
                    <strong>{{ row.taxes }}</strong>
                </template>


                <template slot-scope="{ row }" slot="status">
                    <Tag color="warning" v-if="row.status === 0">待审核</Tag>
                    <Tag color="success" v-else-if="row.status === 1">审核通过</Tag>
                    <Tag color="error" v-else-if="row.status === 2">审核拒绝</Tag>
                </template>

                <template slot-scope="{ row }" slot="content">
                    <strong>{{ row.content }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="updated_at">
                    <strong>{{ row.updated_at }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <PopConfirm :onOk="ok(row._id, 1)" transfer>
                        <template>
                            <Button type="success" size="small">通过</Button>
                        </template>
                    </PopConfirm>
                    <PopConfirm :onOk="ok(row._id, 2)" style="margin-left: 5px;" transfer>
                        <template>
                            <Button type="error" size="small">拒绝</Button>
                        </template>
                    </PopConfirm>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

    </div>
</template>
<script lang="ts">
import AdminWithdrawController from '@/controller/adminWithdraw';

export default class AdminWithdraw extends AdminWithdrawController {
}
</script>
