<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Button icon="md-add" type="info" @click="add()" v-if="data.length <= 0">添加收款方式</Button>
            </div>
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="agent_id">
                    <strong>{{ row.agent_id }}</strong>
                </template>

                <template slot-scope="{ row }" slot="type">
                    <Tag color="success" v-if="row.type === 1">支付宝</Tag>
                    <Tag color="success" v-else-if="row.type === 2">银行卡</Tag>
                </template>

                <template slot-scope="{ row }" slot="account">
                    <strong>{{ row.account }}</strong>
                </template>

                <template slot-scope="{ row }" slot="status">
                    <Tag color="warning" v-if="row.status === 0">待审核</Tag>
                    <Tag color="success" v-else-if="row.status === 1">审核通过</Tag>
                    <Tag color="error" v-else-if="row.status === 2">审核拒绝</Tag>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="updated_at">
                    <strong>{{ row.updated_at }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">修改</Button>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

        <Modal v-model="modal" title="收款方式" @on-ok="ok" @on-cancel="cancel" ok-text="提交">

            <Form ref="formCustom" :model="formCustom" :label-width="100">

                <FormItem label="收款方式" prop="type">
                    <Select v-model="formCustom.type">
                        <Option value="1" label="支付宝" >支付宝</Option>
                        <Option value="2" label="银行卡" >银行卡</Option>
                    </Select>
                </FormItem>

                <FormItem label="账号信息" prop="account">
                    <Input type="text" v-model="formCustom.account" placeholder="请输入账号信息"></Input>
                </FormItem>

            </Form>
        </Modal>

    </div>
</template>
<script lang="ts">
import TiXianController from '@/controller/tixian';

export default class AdminWithdraw extends TiXianController {
}
</script>
