<template>
    <div>
        <Row>
            <Col :xs="24" :sm="12" :md="6" v-for="(item, index) in cardData" :key="index">
            <NumberCard :endVal="item.targetValue" :subfix="item.targetCell" :targetName="item.targetName"
                :explanation="item.explanation" :icon="item.icon" :style="{ 'margin-right': index !== 3 ? '12px' : 0 }">
            </NumberCard>
            </Col>
        </Row>

        <Row style="margin-top: 20px">
            <Col :sm="24" :md="12" style="padding-right: 12px;">
            <MyChart :loading="loading" :chartTypes="monthRechargeChart" :chartData="monthRechargeData"
                @change-chart-type="changeMonthRechargeChartType" />
            </Col>

            <Col :sm="24" :md="12" style="padding-right: 12px;">
            <MyChart :loading="loading" :chartTypes="monthWithdrawChart" :chartData="monthWithdrawData"
                @change-chart-type="changeMonthWithdrawChartType" />
            </Col>
        </Row>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NumberCard from './NumberCard.vue';
import MyChart from './MyChart.vue';
import { getAgentHomeData } from '@/api/home/index';
import DynamicCard from './DynamicCard.vue';
import store from '@/store';
@Component({
    components: { NumberCard, MyChart, DynamicCard }
})
export default class Home extends Vue {
    async created() {
        this.getAgentHomeData();
    }

    cardData: Array<any> = [];

    monthRechargeChart = {
        id: '1',
        targetName: '充值统计',
        chartStyle: 'line',
        chartName: 'income',
        unit: '(元)',
        respStatus: 'noData'
    };
    monthRechargeData = {
        columns: [],
        rows: []
    };

    monthWithdrawChart = {
        id: '2',
        targetName: '提现统计',
        chartStyle: 'line',
        chartName: 'income',
        unit: '(元)',
        respStatus: 'noData'
    };
    monthWithdrawData = {
        columns: [],
        rows: []
    };
    loading: boolean = false;

    onlineUserNumber: number = 0;
    onlineUserNumberOld: number = 0;

    changeMonthRechargeChartType(chartStyle: string, chartName: string) {
        this.monthRechargeChart.chartStyle = chartStyle;
        this.monthRechargeChart.chartName = chartName;
    }

    changeMonthWithdrawChartType(chartStyle: string, chartName: string) {
        this.monthWithdrawChart.chartStyle = chartStyle;
        this.monthWithdrawChart.chartName = chartName;
    }

    async getAgentHomeData() {

        this.loading = true
        getAgentHomeData({ "agent_id": parseInt((store.state as any).user.agent_id) }).then(resp => {
            this.loading = false
            if (resp.errcode !== 0) {
                return;
            } else {
                this.cardData = [
                    {
                        startVal: 0,
                        targetValue: resp.data.user_total,
                        targetName: '下级用户数',
                        targetCell: '人',
                        explanation: '我的下级用户数量',
                        icon: 'ios-people',
                    },
                    {
                        startVal: 0,
                        targetValue: resp.data.recharge_total,
                        targetName: '下级充值总额',
                        targetCell: '元',
                        explanation: '我的所有下级充值总额',
                        icon: 'logo-bitcoin',
                    },

                    {
                        startVal: 0,
                        targetValue: resp.data.withdraw_total,
                        targetName: '提现佣金总额',
                        targetCell: '元',
                        explanation: '我的提现的佣金总额',
                        icon: 'logo-bitcoin',
                    },

                    {
                        startVal: 0,
                        targetValue: resp.data.not_withdraw_total,
                        targetName: '待提现金额',
                        targetCell: '元',
                        explanation: '我的待提现的佣金总额',
                        icon: 'logo-bitcoin',
                    },
                ];

                const today = new Date();
                const year = today.getFullYear();
                const month = today.getMonth();
                const daysInMonth = new Date(year, month + 1, 0).getDate();
                const monthList = [];

                for (let i = 1; i <= daysInMonth; i++) {
                    monthList.push(`${month + 1}-${i}`);
                }

                let targetName = '';
                const { target } = { target: this.monthRechargeChart.chartName };
                if (target === 'income') targetName = '下级充值统计';
                const lastMonth = `上月${targetName}`,
                    thisMonth = `本月${targetName}`;
                let month_data: { columns: any; rows: any } = {
                    columns: ['日期', lastMonth, thisMonth],
                    rows: []
                };

                monthList.forEach((ele, index) => {
                    month_data.rows.push({
                        日期: ele,
                        [lastMonth]: resp.data.last_month_recharge[index],
                        [thisMonth]: resp.data.this_month_recharge[index],
                    });
                });
                this.monthRechargeChart.respStatus = 'hasData';
                this.monthRechargeData = month_data;

                let withdrawTargetName = '';
                const { withdraw_target } = { withdraw_target: this.monthWithdrawChart.chartName };
                if (withdraw_target === 'income') withdrawTargetName = '提现统计';
                const withdrawLastMonth = `上月${withdrawTargetName}`,
                withdrawThisMonth = `本月${withdrawTargetName}`;
                let withdraw_month_data: { columns: any; rows: any } = {
                    columns: ['日期', withdrawLastMonth, withdrawThisMonth],
                    rows: []
                };

                monthList.forEach((ele, index) => {
                    withdraw_month_data.rows.push({
                        日期: ele,
                        [withdrawLastMonth]: resp.data.last_month_withdraw[index],
                        [withdrawThisMonth]: resp.data.this_month_withdraw[index],
                    });
                });
                this.monthWithdrawChart.respStatus = 'hasData';
                this.monthWithdrawData = withdraw_month_data;
            }
        });
    }

}
</script>