<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <DatePicker type="datetimerange" :split-panels="true" :start-date="new Date(2023, 5, 1)"
                    placement="left-start" placeholder="请选择时间范围" @on-change="handleCreateTimeChange"
                    style="width: 200px; margin-right: 24px;" />

                <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
                    $t('search')
                }}</Button>
                <Button icon="md-add" type="info" @click="add()">{{ $t('add') }}</Button>
            </div>
            <Table :columns="columns" :data="data">
                <template slot-scope="{ row }" slot="id">
                    <strong>{{ row.id }}</strong>
                </template>

                <template slot-scope="{ row }" slot="server_name">
                    <strong>{{ row.server_name }}</strong>
                </template>

                <template slot-scope="{ row }" slot="user_count">
                    <strong>{{ row.user_count }}</strong>
                </template>

                <template slot-scope="{ row }" slot="online_count">
                    <strong>{{ row.online_count }}</strong>
                </template>


                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="show(row.id)">服列表</Button>
                    <Button type="primary" size="small" style="margin-right: 5px" @click="set(row)">开服</Button>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
        @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

        <Modal v-model="modal2" title="开服设置" @on-ok="set_ok" @on-cancel="set_cancel" ok-text="保存">

            <Form ref="serverCustom" :model="serverCustom" :label-width="80">

                <FormItem label="开服数量" prop="server_num">
                    <Input type="number" v-model="serverCustom.server_num" placeholder="请填输入开服数量"></Input>
                </FormItem>

                <FormItem label="新开活动" prop="activity_id">
                    <Select v-model="serverCustom.activity_id">
                        <Option v-for="item in activity_data" :value="item._id" :key="item._id" :label="item.name" >{{ item.name }}</Option>
                    </Select>
                </FormItem>

                <FormItem label="结束时间" prop="activity_end_time">
                    <DatePicker type="datetime" :start-date="new Date(2023, 5, 1)"
                    placement="bottom-end" placeholder="请选择活动结束时间" @on-change="handleActivityTimeChange"
                    style="width: 200px; margin-right: 24px;" />
                </FormItem>

            </Form>
        </Modal>

        <Modal v-model="modal" title="添加大区" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :label-width="80">

                <FormItem label="大区名称" prop="server_name">
                    <Input type="text" v-model="formCustom.server_name" placeholder="请填输入大区名称"></Input>
                </FormItem>
            </Form>
        </Modal>

        <Modal v-model="modal1" title="游戏服列表" width="1000">

            <Table :columns="server_columns" :data="server_data">
                <template slot-scope="{ row }" slot="id">
                    <strong>{{ row.id }}服</strong>
                </template>

                <template slot-scope="{ row }" slot="activity_name">
                    <strong>{{ row.activity_name }}</strong>
                </template>

                <template slot-scope="{ row }" slot="activity_end_time">
                    <strong>{{ row.activity_end_time }}</strong>
                </template>

                <template slot-scope="{ row }" slot="status">
                    <Tag color="success" v-if="row.status === 1">新服</Tag>
                    <Tag color="error" v-else>爆满</Tag>
                </template>

                <template slot-scope="{ row }" slot="user_count">
                    <strong>{{ row.user_count }}</strong>
                </template>

                <template slot-scope="{ row }" slot="online_count">
                    <strong>{{ row.online_count }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

            </Table>
        </Modal>
    </div>
</template>
<script lang="ts">
import ServerController from '@/controller/server';

export default class Server extends ServerController {
}
</script>
