<style lang="stylus">
.complex-table-wrap {
  padding-bottom: 20px;
}

.search-wrap {
  margin-bottom: 24px;
}

& .ivu-alert, & .pager {
  margin-top: 24px;
  text-align: center;
}

.demo-avatar {
  float: left;
  margin-left: 10px;
}

.demo-drawer-footer {
  width: 100%;
  position: absolute;
  left: 0;
  border-top: 1px solid #e8e8e8;
  padding: 10px 16px;
  text-align: right;
  background: #fff;
}

.demo-split-pane {
  padding: 10px;
}
</style>

<template>
  <div>
    <Split v-model="split1" value="split1">
      <div slot="left" class="demo-split-pane">
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
          <CommonCardTitle />
          <div class="search-wrap">
            <Input
              style="width: 200px; margin-right: 24px"
              v-model="searchValue.role_code"
              placeholder="请输入角色编码"
            />
            <Input
              style="width: 200px; margin-right: 12px"
              v-model="searchValue.role_name"
              placeholder="请输入角色名称"
            />
            <Button icon="ios-search" type="primary" style="margin-right: 12px" @click="search()">{{
              $t('search')
            }}</Button>
            <Button icon="md-refresh" type="warning" style="margin-right: 12px" @click="reset()">{{
              $t('reset')
            }}</Button>
            <Button icon="md-person-add" type="info" @click="add()">{{ $t('add') }}</Button>
          </div>
          <Table :columns="columns" :data="data" :border="true">
            <template slot-scope="{ row }" slot="role_code">
              <strong>{{ row.role_code }}</strong>
            </template>

            <template slot-scope="{ row }" slot="role_name">
              <strong>{{ row.role_name }}</strong>
            </template>

            <template slot-scope="{ row }" slot="description">
              <strong>{{ row.description }}</strong>
            </template>

            <template slot-scope="{ row }" slot="created_at">
              <strong>{{ CommonGlobal.formatDate(row.created_at) }}</strong>
            </template>

            <template slot-scope="{ row }" slot="action">
              <Button
                type="success"
                size="small"
                style="margin-right: 5px"
                @click="showuser(row.id)"
                >{{ $t('user') }}</Button
              >
              <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">{{
                $t('edit')
              }}</Button>
              <Button
                type="success"
                size="small"
                style="margin-right: 5px"
                @click="authorize(row.id)"
                >{{ $t('authorize') }}</Button
              >
              <PopConfirm :onOk="remove(row.id)" transfer>
                <template>
                  <Button type="error" size="small">{{ $t('delete') }}</Button>
                </template>
              </PopConfirm>
            </template>
          </Table>
          <Page
            class="pager"
            :total="total"
            :current="pageValue.page"
            :page-size="pageValue.limit"
            @on-change="page"
            @on-page-size-change="pageSize"
            show-elevator
            show-sizer
          />
        </Card>
      </div>
      <div slot="right" class="demo-split-pane" v-if="isShowUser">
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
          <div style="font-size: 16px; font-weight: bold">用户列表</div>

          <div @click="closeUserList" style="float: right; font-weight: bold">X</div>

          <div class="search-wrap">
            <Button icon="md-add" type="info" style="margin-right: 12px" @click="addNewUser()"
              >新增用户</Button
            >
            <Button icon="md-add" type="info" style="margin-right: 12px" @click="addHasUser()"
              >已有用户</Button
            >
          </div>
          <Table :columns="usercolumns" :data="userList" :border="true">
            <template slot-scope="{ row }" slot="username">
              <strong>{{ row.username }}</strong>
            </template>

            <template slot-scope="{ row }" slot="realname">
              <strong>{{ row.realname }}</strong>
            </template>

            <template slot-scope="{ row }" slot="disable">
              <Tag color="success" v-if="row.disable === 0">正常</Tag>
              <Tag color="warning" v-else>冻结</Tag>
            </template>

            <template slot-scope="{ row }" slot="action">
              <Button type="primary" size="small" style="margin-right: 5px" @click="edituser(row)"
                >编辑</Button
              >
              <PopConfirm :onOk="removeuser(row.id)" transfer>
                <template>
                  <Button type="error" size="small">删除</Button>
                </template>
              </PopConfirm>
            </template>
          </Table>
          <Page
            class="pager"
            :total="usertotal"
            :current="userPageValue.page"
            :page-size="userPageValue.limit"
            @on-change="userPage"
            @on-page-size-change="userPageSize"
            show-elevator
            show-sizer
          />
        </Card>
      </div>
    </Split>

    <Modal v-model="modal1" title="角色信息" @on-ok="ok" @on-cancel="cancel" ok-text="保存">
      <Form ref="formCustom" :model="formCustom" :rules="userRuleValidate" :label-width="80">
        <FormItem label="角色名称" prop="role_name">
          <Input type="text" v-model="formCustom.role_name" placeholder="请填写角色名称"></Input>
        </FormItem>

        <FormItem label="角色编码" prop="role_code">
          <Input type="text" v-model="formCustom.role_code" placeholder="请填输入角色编码"></Input>
        </FormItem>

        <FormItem label="描述" prop="description">
          <Input
            v-model="formCustom.description"
            type="textarea"
            :autosize="{ minRows: 2, maxRows: 5 }"
            placeholder="请输入描述..."
          ></Input>
        </FormItem>
      </Form>
    </Modal>

    <Drawer title="角色权限配置" v-model="auth" width="640" :mask-closable="false">
      <div style="font-size: 14px; font-weight: normal">所拥有的权限:</div>
      <Tree :data="routes" ref="tree" show-checkbox check-strictly style="margin-top: 20px"></Tree>

      <div class="demo-drawer-footer">
        <Button type="primary" @click="bind()">{{ $t('save') }}</Button>
        <Button @click="cancelbind()" style="margin-left: 8px">{{ $t('close') }}</Button>
      </div>
    </Drawer>

    <Modal
      v-model="edit1"
      title="账号信息"
      @on-ok="editUserOk"
      @on-cancel="editUserCancel"
      ok-text="保存"
    >
      <Form ref="userInfo" :model="userInfo" :rules="userRuleValidate" :label-width="80">
        <FormItem label="账号" prop="username">
          <Input
            type="text"
            v-model="userInfo.username"
            placeholder="请填写账号"
            v-if="!isadduser"
            readonly
          ></Input>
          <Input type="text" v-model="userInfo.username" placeholder="请填写账号" v-else></Input>
        </FormItem>

        <FormItem label="密码" prop="password" v-if="isadduser">
          <Input type="password" v-model="userInfo.password" placeholder="请填写密码"></Input>
        </FormItem>

        <FormItem label="确认密码" prop="second_password" v-if="isadduser">
          <Input
            type="password"
            v-model="userInfo.second_password"
            placeholder="请填再次填写密码"
          ></Input>
        </FormItem>

        <FormItem label="姓名" prop="realname">
          <Input type="text" v-model="userInfo.realname" placeholder="请填输入姓名"></Input>
        </FormItem>
        <!-- <FormItem label="头像" prop="avatar">
          <div
            class="demo-avatar"
            v-for="(item, index) in avatars"
            :key="index"
            @click="chooseAvatar(item.avatar)"
          >
            <Avatar :src="item.avatar" size="large" />
          </div>
        </FormItem> -->
        <FormItem label="管理类型" prop="root">
          <RadioGroup v-model="userInfo.root">
            <Radio label="1">超级管理员</Radio>
            <Radio label="0">普通管理员</Radio>
          </RadioGroup>
        </FormItem>
      </Form>
    </Modal>

    <Modal
      v-model="has1"
      title="添加已有用户"
      @on-ok="addUserOk"
      @on-cancel="addUserCancel"
      ok-text="确定"
      width="640px"
    >
      <Card class="complex-table-wrap" :bordered="false" dis-hover>
        <div class="search-wrap">
          <Input
            style="width: 200px; margin-right: 24px"
            v-model="allUsersearchValue.username"
            placeholder="请输入账号"
          />
          <Button
            icon="ios-search"
            type="primary"
            style="margin-right: 12px"
            @click="allusersearch()"
            >{{ $t('search') }}</Button
          >
          <Button
            icon="md-refresh"
            type="warning"
            style="margin-right: 12px"
            @click="alluserreset()"
            >{{ $t('reset') }}</Button
          >
        </div>
        <Table :columns="allusercolumns" :data="alluserlist" @on-selection-change="selectchange">
          <template slot-scope="{ row }" slot="username">
            <strong>{{ row.username }}</strong>
          </template>

          <template slot-scope="{ row }" slot="realname">
            <strong>{{ row.realname }}</strong>
          </template>

          <template slot-scope="{ row }" slot="disable">
            <Tag color="success" v-if="row.disable === 0">正常</Tag>
            <Tag color="warning" v-else>冻结</Tag>
          </template>
        </Table>
        <Page
          class="pager"
          :total="alluserlisttotal"
          :current="allUserPageValue.page"
          :page-size="allUserPageValue.limit"
          @on-change="allUserPage"
          @on-page-size-change="allUserPageSize"
          show-elevator
          show-sizer
        />
      </Card>
    </Modal>
  </div>
</template>
<script lang="ts">
import RoleController from '@/controller/role';

export default class Role extends RoleController {}
</script>
