<template>
  <div style="flex-grow: 1 !important"></div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({})
export default class Spacer extends Vue {}
</script>
