<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
    <Card class="complex-table-wrap" :bordered="false" dis-hover>
    <CommonCardTitle />
    <div class="search-wrap">
      <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.username" placeholder="请输入账号" />
      <Input style="width: 200px; margin-right: 12px;" v-model="searchValue.realname"  placeholder="请输入姓名" />
      <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
        $t('search')
      }}</Button>
      <Button icon="md-refresh" type="warning" style="margin-right: 12px;"  @click="reset()">{{ $t('reset') }}</Button>
      <Button icon="md-person-add" type="info"  @click="add()">{{ $t('add') }}</Button>
    </div>
    <Table :columns="columns" :data="data">

      <template slot-scope="{ row }" slot="username">
        <strong>{{ row.username }}</strong>
      </template>

       <template slot-scope="{ row }" slot="realname">
        <strong>{{ row.realname }}</strong>
      </template>

      <template slot-scope="{ row }" slot="disable">
        <Tag color="success" v-if="row.disable === 0">正常</Tag>
        <Tag color="error" v-else>冻结</Tag>
      </template>

       <template slot-scope="{ row }" slot="created_at">
        <strong>{{ CommonGlobal.formatDate(row.created_at) }}</strong>
      </template>

      <template slot-scope="{ row }" slot="action">
        <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)"
          >详情</Button
        >
        <PopConfirm :onOk="remove(row.id)" transfer>
          <template>
            <Button type="error" size="small">删除</Button>
          </template>
        </PopConfirm>
      </template>
    </Table>
    <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page" @on-page-size-change="pageSize" show-elevator show-sizer/>
  </Card>

    <Modal
        v-model="modal1"
        title="账号信息"
        @on-ok="ok"
        @on-cancel="cancel"
        ok-text="保存">

        <Form ref="formCustom" :model="formCustom" :rules="userRuleValidate" :label-width="80">

            <FormItem label="账号" prop="username">
                <Input type="text" v-model="formCustom.username" placeholder="请填写账号" v-if="!isadd"  readonly ></Input>
                <Input type="text" v-model="formCustom.username" placeholder="请填写账号" v-else ></Input>
            </FormItem>

            <FormItem label="密码" prop="password" v-if="isadd">
                <Input type="password" v-model="formCustom.password"  placeholder="请填写密码"></Input>
            </FormItem>

            <FormItem label="确认密码" prop="second_password" v-if="isadd">
                <Input type="password" v-model="formCustom.second_password"  placeholder="请填再次填写密码"></Input>
            </FormItem>

            <FormItem label="姓名" prop="realname">
                <Input type="text" v-model="formCustom.realname"  placeholder="请填输入姓名"></Input>
            </FormItem>

            <FormItem label="角色分配" prop="role_id">
                <Select v-model="formCustom.role_id" style="width:200px">
                    <Option v-for="item in roleList" :value="item.id" :key="item.id">{{ item.role_name }}</Option>
                </Select>
            </FormItem>
        </Form>
    </Modal>
    </div>
</template>
<script lang="ts">
import  UserController  from '@/controller/user';

export default class User extends UserController {
}
</script>
