<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />

            <div class="search-wrap">
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.order_no" placeholder="请输入订单号" />
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.uid" placeholder="请输入用户ID" />
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.regionid" placeholder="请输入区ID" />
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.serverid" placeholder="请输入服ID" />
                <Select v-model="searchValue.pay_status" style="width:200px; margin-right: 24px;" placeholder="请选择支付状态">
                    <Option :value="1">已支付</Option>
                    <Option :value="0">待支付</Option>
                </Select>
                <DatePicker type="datetimerange" :split-panels="true" :start-date="new Date(2023, 5, 1)"
                    placement="bottom-end" placeholder="请选择支付时间" @on-change="handlePayTimeChange"
                    style="width: 200px; margin-right: 24px;" />

                <DatePicker type="datetimerange" :split-panels="true" :start-date="new Date(2023, 5, 1)"
                    placement="bottom-end" placeholder="请选择订单创建时间" @on-change="handleCreateTimeChange"
                    style="width: 200px; margin-right: 24px;" />

                <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
                    $t('search')
                }}</Button>
                <Button icon="md-refresh" type="warning" style="margin-right: 12px;" @click="reset()">{{ $t('reset')
                }}</Button>

                <!-- <Button icon="ios-pie-outline" type="info" style="margin-right: 12px;" @click="detail()">{{ $t('detail')
                }}</Button> -->

            </div>

            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="order_no">
                    <strong>{{ row.order_no }}</strong>
                </template>

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="regionid">
                    <strong>{{ row.regionid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="serverid">
                    <strong>{{ row.serverid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="description">
                    <strong>{{ row.description }}</strong>
                </template>

                <template slot-scope="{ row }" slot="payment">
                    <strong>{{ row.payment }}</strong>
                </template>

                <template slot-scope="{ row }" slot="pay_status">
                    <Tag color="success" v-if="row.pay_status === 1">已支付</Tag>
                    <Tag color="error" v-else>待支付</Tag>
                </template>

                <template slot-scope="{ row }" slot="pay_at">
                    <strong>{{ row.pay_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="complete">
                    <Tag color="success" v-if="row.complete === 1">已完成</Tag>
                    <Tag color="error" v-else>待完成</Tag>
                </template>

                <template slot-scope="{ row }" slot="completed_at">
                    <strong>{{ row.completed_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>


        <!-- <Modal v-model="is_show" title="充值报表" @on-ok="ok" @on-cancel="cancel" ok-text="确定"> -->
            <!-- <Row>
                <Col v-for="(item, index) in cardData" :key="index">
                <NumberCard :endVal="item.targetValue" :subfix="item.targetCell" :targetName="item.targetName"
                    :explanation="item.explanation" :icon="item.icon" :style="{ 'margin-right': index !== 3 ? '12px' : 0 }">
                </NumberCard>
                </Col>
            </Row> -->
            <!-- <div style="width: 100%; height: 400px;">
        <ve-line :data="dayChartData" :settings="chartSettings"></ve-line>
    </div> -->
        <!-- </Modal> -->
    </div>
</template>
<script lang="ts">
import RechargeController from '@/controller/recharge';

export default class Recharge extends RechargeController {
}
</script>
