<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="agent_id">
                    <strong>{{ row.agent_id }}</strong>
                </template>

                <template slot-scope="{ row }" slot="type">
                    <Tag color="success" v-if="row.type === 1">支付宝</Tag>
                    <Tag color="success" v-else-if="row.type === 2">银行卡</Tag>
                </template>

                <template slot-scope="{ row }" slot="account">
                    <strong>{{ row.account }}</strong>
                </template>

                <template slot-scope="{ row }" slot="status">
                    <Tag color="warning" v-if="row.status === 0">待审核</Tag>
                    <Tag color="success" v-else-if="row.status === 1">审核通过</Tag>
                    <Tag color="error" v-else-if="row.status === 2">审核拒绝</Tag>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>

                <template slot-scope="{ row }" slot="updated_at">
                    <strong>{{ row.updated_at }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="agree(row._id, 1)">同意</Button>
                    <Button type="error" size="small" style="margin-right: 5px" @click="agree(row._id, 2)">拒绝</Button>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

    </div>
</template>
<script lang="ts">
import TiXianController from '@/controller/tixian';

export default class AdminWithdraw extends TiXianController {
}
</script>
