<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
  <div>
    <Card class="complex-table-wrap" :bordered="false" dis-hover>
      <CommonCardTitle />
      <div class="search-wrap">
        <Button icon="md-person-add" type="info" @click="add()">{{ $t('add') }}</Button>
      </div>
      <Table :columns="columns" :data="data">

        <template slot-scope="{ row }" slot="id">
          <strong>{{ row.id }}</strong>
        </template>

        <template slot-scope="{ row }" slot="user_count">
          <strong>{{ row.user_count }}</strong>
        </template>

        <template slot-scope="{ row }" slot="action">
          <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">详情</Button>
        </template>
      </Table>
      <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
        @on-page-size-change="pageSize" show-elevator show-sizer />
    </Card>

    <Modal v-model="modal">
      <template #header>
        <p>
          <span>房间详情</span>
        </p>
      </template>
      <Form ref="ruleValidate" :model="formCustom" :label-width="80" :rules="ruleValidate">
        <FormItem label="房间人数" prop="user_count">
          <Input type="number" v-model="formCustom.user_count" placeholder="请填输入房间人数"></Input>
        </FormItem>
      </Form>
      <template #footer>
        <Button type="text" size="large" @click="cancel">取消</Button>
        <Button type="primary" size="large" @click="ok">确定</Button>
      </template>
    </Modal>
  </div>
</template>
<script lang="ts">
import RoomController from '@/controller/room';

export default class User extends RoomController {
}
</script>
