<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <!-- <div class="search-wrap">
                <Button icon="md-add" type="info" @click="add()">{{ $t('add') }}</Button>
            </div> -->
            <Table :columns="columns" :data="data">
                <template slot-scope="{ row }" slot="name">
                    <strong>{{ row.name }}</strong>
                </template>

                <!-- <template slot-scope="{ row }" slot="status">
                    <Tag color="success" v-if="row.status === 1">开启</Tag>
                    <Tag color="error" v-else>关闭</Tag>
                </template> -->

                <template slot-scope="{ row }" slot="start_time">
                    <strong>{{ row.start_time }}</strong>
                </template>

                <template slot-scope="{ row }" slot="end_time">
                    <strong>{{ row.end_time }}</strong>
                </template>

                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">设置</Button>
                </template>
            </Table>
        </Card>

        <Modal v-model="modal" title="活动设置" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :label-width="80">

                <FormItem label="活动名称" prop="name">
                    <Input type="text" v-model="formCustom.name" readonly></Input>
                </FormItem>

                <FormItem label="有效期" prop="time">
                    <DatePicker type="datetimerange" :split-panels="true" :start-date="new Date(2023, 5, 1)"
                    placement="bottom-end" placeholder="请选择有效时间" @on-change="handleTimeChange"
                    style="width: 200px; margin-right: 24px;" />
                </FormItem>
<!--
                <FormItem label="活动状态" prop="status">
                    <RadioGroup v-model="formCustom.status">
                        <Radio label="1" border >开启</Radio>
                        <Radio label="0" border >关闭</Radio>
                    </RadioGroup>
                </FormItem> -->

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import ActivityController from '@/controller/activity';

export default class Activity extends ActivityController {
}
</script>
