<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.uid" placeholder="请输入ID" />
                <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
                    $t('search')
                }}</Button>
                <Button icon="md-refresh" type="warning" style="margin-right: 12px;" @click="reset()">{{ $t('reset')
                }}</Button>

                <Button icon="md-person-add" type="info"  style="margin-right: 12px;" @click="add()">{{ $t('add') }}</Button>

                佣金比例: <Input style="width: 200px; margin-right: 12px;" v-model="bili" placeholder="代理商佣金比例" /><Button type="info"  style="margin-right: 12px;" @click="save()">{{ $t('save') }}</Button>
            </div>
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="_id">
                    <strong>{{ row._id }}</strong>
                </template>

                <template slot-scope="{ row }" slot="username">
                    <strong>{{ row.username }}</strong>
                </template>

                <template slot-scope="{ row }" slot="realname">
                    <strong>{{ row.realname }}</strong>
                </template>

                <template slot-scope="{ row }" slot="money">
                    <strong>{{ row.money }}</strong>
                </template>

                <template slot-scope="{ row }" slot="type">
                    <Tag color="success" v-if="row.type === 1">支付宝</Tag>
                    <Tag color="success" v-else-if="row.type === 2">银行卡</Tag>
                </template>

                <template slot-scope="{ row }" slot="account">
                    <strong>{{ row.account }}</strong>
                </template>

                <template slot-scope="{ row }" slot="disable">
                    <PopConfirm :onOk="unfreeze(row)" :title="'确认要解封账户 ' + row.realname + ' 吗？'" transfer v-if="row.disable === 1" >
                        <Button type="error" size="small">封号</Button>
                    </PopConfirm>
                    <PopConfirm :onOk="freeze(row)" :title="'确认要冻结账户 ' + row.realname + ' 吗？'"  transfer v-else>
                        <Button type="success" size="small" >正常</Button>
                    </PopConfirm>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <Button type="info" size="small" style="margin-right: 5px"  @click="show(row)">修改密码</Button>
                    <PopConfirm :onOk="del(row)" transfer>
                        <template>
                            <Button type="error" size="small">删除</Button>
                        </template>
                    </PopConfirm>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

        <Modal v-model="modal" title="代理设置" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :rules="RuleValidate" :label-width="100">

                <FormItem label="账号" prop="username">
                    <Input type="text" v-model="formCustom.username" placeholder="请输入账号" v-if="!isadd"  readonly></Input>
                    <Input type="text" v-model="formCustom.username" placeholder="请输入账号" v-else ></Input>
                </FormItem>

                <FormItem label="密码" prop="password">
                    <Input type="password" v-model="formCustom.password" placeholder="请输入密码"></Input>
                </FormItem>

                <FormItem label="确认密码" prop="secondpassword">
                    <Input type="password" v-model="formCustom.secondpassword" placeholder="请输入确认密码"></Input>
                </FormItem>


                <FormItem label="姓名" prop="realname">
                    <Input type="text" v-model="formCustom.realname"  placeholder="请填输入姓名" v-if="!isadd"  readonly></Input>
                    <Input type="text" v-model="formCustom.realname" placeholder="请填输入姓名" v-else ></Input>
                </FormItem>

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import AgentController from '@/controller/agent';

export default class Agent extends AgentController {
}
</script>
