<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <div class="search-wrap">
                <Button icon="md-add" type="info" @click="add()">{{ $t('add') }}</Button>
            </div>
            <Table :columns="columns" :data="data">
                <template slot-scope="{ row }" slot="code">
                    <strong>{{ row.code }}</strong>
                </template>

                <template slot-scope="{ row }" slot="total">
                    <strong>{{ row.total }}</strong>
                </template>

                <template slot-scope="{ row }" slot="num">
                    <strong>{{ row.num }}</strong>
                </template>

                <template slot-scope="{ row }" slot="vip">
                    <strong>{{ row.vip }}</strong>
                </template>

                <template slot-scope="{ row }" slot="status">
                    <PopConfirm :onOk="changeStatus(row, 1)" :title="'确认要发布吗？'" transfer v-if="row.status == 0" >
                        <Button type="error" size="small">未发布</Button>
                    </PopConfirm>
                    <PopConfirm :onOk="changeStatus(row, 0)" :title="'确认要取消么？'"  transfer v-else>
                        <Button type="success" size="small" >已发布</Button>
                    </PopConfirm>
                </template>
                <template slot-scope="{ row }" slot="action">
                    <Button type="primary" size="small" style="margin-right: 5px" @click="show(row)">详情</Button>
                    <PopConfirm :onOk="remove(row)" :title="'确认删除吗？'" transfer>
                        <Button type="error" size="small">删除</Button>
                    </PopConfirm>
                </template>
            </Table>
        </Card>

        <Modal v-model="modal" title="添加兑换码" @on-ok="ok" @on-cancel="cancel" ok-text="保存">

            <Form ref="formCustom" :model="formCustom" :label-width="80">

                <FormItem label="兑换码" prop="code">
                    <Input type="text" v-model="formCustom.code" placeholder="请填输入兑换码"></Input>
                </FormItem>

                <FormItem label="总数" prop="total">
                    <Input type="text" v-model="formCustom.total" placeholder="请填输入总数"></Input>
                </FormItem>

                <FormItem label="效期类型" prop="expire_type">
                    <RadioGroup v-model="formCustom.expire_type">
                        <Radio label="1">永久有效</Radio>
                        <Radio label="2">固定时间段</Radio>
                    </RadioGroup>
                </FormItem>

                <FormItem label="VIP等级" prop="vip">
                    <Select v-model="formCustom.vip">
                        <Option v-for="item in vips" :value="item.id" :key="item.id" :label="item.name" >{{ item.name }}</Option>
                    </Select>
                </FormItem>

                <FormItem label="有效期" prop="expire" v-if="formCustom.expire_type === '2'">
                    <DatePicker type="date" v-model="formCustom.start_expire" format="yyyy-MM-dd" :on-change="formatStartTime(formCustom.start_expire)" placeholder="开始日期" />
                    <DatePicker type="date" v-model="formCustom.end_expire" format="yyyy-MM-dd" :on-change="formatEndTime(formCustom.end_expire)" placeholder="结束日期" />
                </FormItem>

                <FormItem label="商品列表">
                    <div class="product-container">
                        <Row v-for="(item, index) in formCustom.items" :key="index">
                            <Col span="6" style="margin-right: 5px">
                            <FormItem prop="name" :label-width="180">
                                <Select v-model="item.name" placeholder="请选择物品">
                                    <Option v-for="(option, index) in configItems" :value="option.value" :key="index">{{
                                        option.label }}</Option>
                                </Select>
                            </FormItem>
                            </Col>
                            <Col span="6" style="margin-right: 5px">
                            <FormItem prop="num" :label-width="180">
                                <InputNumber v-model="item.num" placeholder="请输入数量" />
                            </FormItem>
                            </Col>
                            <Col span="6" style="margin-right: 5px">
                            <Button type="error" size="small" @click="removeProduct(index)">删除商品</Button>
                            </Col>

                        </Row>
                    </div>
                    <Button type="primary" size="small" @click="addProduct()">添加商品</Button>
                </FormItem>

            </Form>
        </Modal>
    </div>
</template>
<script lang="ts">
import CodeController from '@/controller/code';

export default class Code extends CodeController {
}
</script>
