<template>
    <div>

        <Row>
            <Col :sm="24" :md="24">
            <DynamicCard style="height: 240px;" :startVal="onlineUserNumberOld" :endVal="onlineUserNumber" title="当前在线"
                subTitle="在线登录人数" @update-data="handleUpdateData" />
            </Col>
        </Row>

        <Row>
            <Col :xs="24" :sm="12" :md="6" v-for="(item, index) in cardData" :key="index">
            <NumberCard :endVal="item.targetValue" :subfix="item.targetCell" :targetName="item.targetName"
                :explanation="item.explanation" :icon="item.icon" :style="{ 'margin-right': index !== 3 ? '12px' : 0 }">
            </NumberCard>
            </Col>
        </Row>

        <Row style="margin-top: 20px">
            <Col :sm="24" :md="12" style="padding-right: 12px;">
            <MyChart :loading="Loading" :chartTypes="weekChartType" :chartData="weekChartData"
                @change-chart-type="changeWeekChartType" />
            </Col>

            <Col :sm="24" :md="12" style="padding-right: 12px;">
            <MyChart :loading="Loading" :chartTypes="monthChartType" :chartData="monthChartData"
                @change-chart-type="changeMonthChartType" />
            </Col>
        </Row>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import NumberCard from './NumberCard.vue';
import MyChart from './MyChart.vue';
import { getHomeData, getOnlineUser } from '@/api/home/index';
import DynamicCard from './DynamicCard.vue';

@Component({
    components: { NumberCard, MyChart, DynamicCard }
})
export default class Home extends Vue {
    created() {
        this.getHomeData();
    }

    cardData: Array<any> = [];

    weekChartType = {
        id: '1',
        targetName: '充值周统计',
        chartStyle: 'line',
        chartName: 'income',
        unit: '(元)',
        respStatus: 'noData'
    };
    weekChartData = {
        columns: [],
        rows: []
    };

    monthChartType = {
        id: '2',
        targetName: '充值月统计',
        chartStyle: 'line',
        chartName: 'income',
        unit: '(元)',
        respStatus: 'noData'
    };
    monthChartData = {
        columns: [],
        rows: []
    };

    Loading: boolean = false;

    onlineUserNumber: number = 0;
    onlineUserNumberOld: number = 0;

    changeWeekChartType(chartStyle: string, chartName: string) {
        this.weekChartType.chartStyle = chartStyle;
        this.weekChartType.chartName = chartName;
    }

    changeMonthChartType(chartStyle: string, chartName: string) {
        this.monthChartType.chartStyle = chartStyle;
        this.monthChartType.chartName = chartName;
    }

    getHomeData() {
        this.Loading = true
        getHomeData().then(resp => {
            this.Loading = false
            if (resp.errcode !== 0) {
                return;
            } else {
                this.cardData = [
                    {
                        startVal: 0,
                        targetValue: resp.data.today_user_total,
                        targetName: '今日新增用户',
                        targetCell: '人',
                        explanation: '系统中今日新增用户',
                        icon: 'ios-people',
                    },
                    {
                        startVal: 0,
                        targetValue: resp.data.user_total,
                        targetName: '系统总用户',
                        targetCell: '人',
                        explanation: '系统中总用户数量',
                        icon: 'ios-people',
                    },
                    {
                        startVal: 0,
                        targetValue: resp.data.today_recharge_total,
                        targetName: '今日充值金额',
                        targetCell: '元',
                        explanation: '系统中今日用户充值总额',
                        icon: 'logo-bitcoin',
                        reduce: 0
                    },
                    {
                        startVal: 0,
                        targetValue: resp.data.recharge_total,
                        targetName: '累计充值金额',
                        targetCell: '元',
                        explanation: '系统中所有用户充值金额',
                        icon: 'logo-bitcoin',
                    }
                ];

                let targetName = '';
                const { target } = { target: this.weekChartType.chartName };
                if (target === 'income') targetName = '盈利统计';
                const lastWeek = `上周${targetName}`,
                    thisWeek = `本周${targetName}`;
                let week_data: { columns: any; rows: any } = {
                    columns: ['日期', lastWeek, thisWeek],
                    rows: []
                };

                const dayArr = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日'];
                dayArr.forEach((ele, index) => {
                    week_data.rows.push({
                        日期: ele,
                        [lastWeek]: resp.data.last_week[index],
                        [thisWeek]: resp.data.this_week[index]
                    });
                });
                this.weekChartType.respStatus = 'hasData';
                this.weekChartData = week_data;


                let monthtargetName = '';
                const { month_target } = { month_target: this.monthChartType.chartName };

                if (month_target === 'income') monthtargetName = '盈利统计';
                const lastMonth = `上月${monthtargetName}`,
                    thisMonth = `本月${monthtargetName}`;
                let month_data: { columns: any; rows: any } = {
                    columns: ['日期', lastMonth, thisMonth],
                    rows: []
                };

                const today = new Date();
                const year = today.getFullYear();
                const month = today.getMonth();
                const daysInMonth = new Date(year, month + 1, 0).getDate();
                const monthList = [];

                for (let i = 1; i <= daysInMonth; i++) {
                    monthList.push(`${month + 1}-${i}`);
                }

                monthList.forEach((ele, index) => {
                    month_data.rows.push({
                        日期: ele,
                        [lastMonth]: resp.data.last_month[index],
                        [thisMonth]: resp.data.this_month[index],
                    });
                });
                this.monthChartType.respStatus = 'hasData';
                this.monthChartData = month_data;
            }
        });



    }

    async handleUpdateData() {
        const resp = await getOnlineUser();
        if (resp.errcode !== 0) {
            return;
        }
        this.onlineUserNumberOld = this.onlineUserNumber;
        this.onlineUserNumber = resp.data.count;
    }
}
</script>