<style lang="stylus">
.dynamic-card
  .ivu-card-body
    text-align center
  & .value
    font-size 30px
    font-weight 500
  & .tip
    margin-top 8px
</style>

<template>
  <Card dis-hover :bordered="false" class="dynamic-card">
    <p slot="title">{{ title }}</p>
    <div>{{ subTitle }}</div>
    <div class="value">{{ shareUrl }}</div>
  </Card>
</template>

<script lang="ts">
import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import dayjs from 'dayjs';
import countTo from 'vue-count-to';

const TIME_STEP = 5;

@Component({
  components: { countTo }
})
export default class DynamicCard extends Vue {
  timer!: number;
  timer2!: number;


  currentTime: string = '';
  timeToRefresh: number = TIME_STEP;

  @Prop({ required: true }) readonly title!: string;
  @Prop({ required: true }) readonly subTitle!: string;
  @Prop({ required: true }) readonly shareUrl!: string;

}
</script>
