<style lang="stylus">
.form-wrap {
  & p, .ivu-input-group-append {
    padding: 0;

    img {
      width: 70px;
      height: 30px;
      vertical-align: middle;
    }
  }

  & .login-btn {
    width: 100%;
    background: #1c7275;
    border-color: #1c7275;
  }
}
</style>
<template>
    <Card class="form-wrap">
        <p slot="title">{{ $t('login.welcome') }}</p>
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate">
            <FormItem prop="username">
                <Input type="text" v-model="formValidate.username" :placeholder="$t('login.enterUsername')">
                <Icon size="14" type="md-person" slot="prepend"></Icon>
                </Input>
            </FormItem>
            <FormItem prop="password">
                <Input :type="passwordInputType" v-model="formValidate.password" :placeholder="$t('login.enterPassword')">
                <Icon size="14" type="md-key" slot="prepend"></Icon>
                <Icon size="14" :type="iconType" slot="append" style="width: 27px" @click.native="togglePassword">
                </Icon>
                </Input>
            </FormItem>
            <FormItem>
                <div style="display: flex;">
                    <Input style="margin-right: 15px;" placeholder="请输入验证码" v-model="myCode"></Input>
                    <div class="coderight" @click="refreshCode">
                        <SIdentify :identifyCode="identifyCode"></SIdentify>
                    </div>
                </div>
            </FormItem>
            <FormItem>
                <Button :loading="loading" type="primary" @click="doLogin" class="login-btn">
                    <span v-if="!loading">{{ $t('login.login') }}</span>
                    <span v-else>{{ $t('login.logging') }}</span>
                </Button>
            </FormItem>
        </Form>
    </Card>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { IForm, User } from '../type';
import { Action, Mutation } from 'vuex-class';
import { UPDATE_USER, CHANGE_SETTING } from '@/store/mutation-types';
import { getLocationQuery } from '@/assets/script/util';
import { Message } from 'view-design';
import * as api from 'devapi';
import SIdentify from './common/identify.vue'
import { login } from '@/api/agent';

interface LoginForm {
    username: string;
    password: string;
}

@Component({
    components: {
        SIdentify
    }
})
export default class Login extends Vue {
    identifyCode: string = "";
    myCode: string = "";
    id: string = "";
    time: string = ""

    mounted() {

        this.identifyCode = "";
        this.getCode()
    }

    getCode() {
        this.time = Date.now().toString()
        api.Rbac.GetRbacGetcode(this.time, (resp: api.GetRbacGetcodeResponse) => {
            this.identifyCode = resp.data!.code
        })
    }

    refreshCode() {
        this.identifyCode = "";
        this.getCode()
    }
    created() {
        window.addEventListener("keydown", this.keydownEvent)
        this.ruleValidate = this.getValidator();
    }

    passwordInputType: 'password' | 'text' = 'password';
    loading: boolean = false;

    formValidate: LoginForm = {
        username: '',
        password: '',
    };

    ruleValidate: object = {};

    get iconType() {
        return this.passwordInputType === 'password' ? 'ios-eye-off' : 'ios-eye';
    }

    keydownEvent(e: any) {
        if (e.keyCode == 13) {
            this.doLogin()
        }
    }
    getValidator() {
        return {
            username: [
                {
                    required: true,
                    message: this.$t('login.enterUsername'),
                    trigger: 'blur',
                },
            ],
            password: [
                {
                    required: true,
                    message: this.$t('login.enterPassword'),
                    trigger: 'blur',
                },
            ],
        };
    }

    async doLogin(): Promise<void> {
        (this.$refs.formValidate as IForm).validate(
            async (valid: boolean | undefined): Promise<void> => {
                if (valid) {
                    this.loading = true;
                    let that = this;
                    const { username, password } = that.formValidate;
                    login({ "_t": that.time, "code": that.myCode, "password": password, "username": username }).then(loginResp => {
                        console.log("loginResp = ", loginResp)
                        if (loginResp.errcode == 0) {
                            var user = loginResp.data.user
                            var jwt = loginResp.data.jwt
                            localStorage.setItem('jwt', jwt)
                            that.updateUser({
                                id: user._id,
                                username: user.username,
                                avatar: "",
                                jwt: jwt,
                                role_id: "",
                                role_code: "",
                                agent_id: user._id,
                            });
                            const next = window.decodeURIComponent(getLocationQuery('next') || '/home');
                            that.$router.push(next);
                        } else {
                            (Message as any).error(loginResp.errmsg != '' ? loginResp.errmsg : '登录失败,请稍后再试!');
                            this.loading = false;
                        }

                    })

                }
            }
        );
    }

    submit() {
        console.log("点击回车")
    }

    togglePassword() {
        this.passwordInputType = this.passwordInputType === 'text' ? 'password' : 'text';
    }

    @Action(UPDATE_USER) updateUser!: (userinfo: User) => void;
    @Mutation(CHANGE_SETTING) changeSetting!: (data: { key: string; val: string }) => void;
}
</script>
