<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />

            <div class="search-wrap">
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.order_no" placeholder="请输入订单号" />
                <Input style="width: 200px; margin-right: 24px;" v-model="searchValue.uid" placeholder="请输入用户ID" />
                <DatePicker type="datetimerange" :split-panels="true" :start-date="new Date(2023, 5, 1)"
                    placement="bottom-end" placeholder="请选择创建时间" @on-change="handleCreateTimeChange"
                    style="width: 200px; margin-right: 24px;" />

                <Button icon="ios-search" type="primary" style="margin-right: 12px;" @click="search()">{{
                    $t('search')
                }}</Button>
                <Button icon="md-refresh" type="warning" style="margin-right: 12px;" @click="reset()">{{ $t('reset')
                }}</Button>
            </div>

            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="order_no">
                    <strong>{{ row.order_no }}</strong>
                </template>

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="money">
                    <strong>{{ row.money }}</strong>
                </template>

                <template slot-scope="{ row }" slot="description">
                    <strong>{{ row.description }}</strong>
                </template>

                <template slot-scope="{ row }" slot="payment">
                    <strong>{{ row.payment }}</strong>
                </template>

                <template slot-scope="{ row }" slot="created_at">
                    <strong>{{ row.created_at }}</strong>
                </template>
            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>
    </div>
</template>
<script lang="ts">

import RebateController from '@/controller/rebate';

export default class Rebate extends RebateController {
}
</script>
