<style lang="stylus">
    .complex-table-wrap
        padding-bottom 20px
    .search-wrap
        margin-bottom 24px
    & .ivu-alert
    // margin-bottom 24px
    & .pager
        margin-top 24px
        text-align center
    .demo-avatar
        float: left;
        margin-left:10px
</style>

<template>
    <div>
        <Card class="complex-table-wrap" :bordered="false" dis-hover>
            <CommonCardTitle />
            <Table :columns="columns" :data="data">

                <template slot-scope="{ row }" slot="uid">
                    <strong>{{ row.uid }}</strong>
                </template>

                <template slot-scope="{ row }" slot="nickname">
                    <strong>{{ row.nickname }}</strong>
                </template>

                <template slot-scope="{ row }" slot="max_level">
                    <strong>{{ row.max_level }}关</strong>
                </template>

                <template slot-scope="{ row }" slot="serverid">
                    <strong>{{ row.serverid }}服</strong>
                </template>

            </Table>
            <Page class="pager" :total="total" :current="pageValue.page" :page-size="pageValue.limit" @on-change="page"
                @on-page-size-change="pageSize" show-elevator show-sizer />
        </Card>

    </div>
</template>
<script lang="ts">
import ChildController from '@/controller/child';

export default class Child extends ChildController {
}
</script>
