<template>
  <Submenu :name="`${parentName}`">
    <template slot="title">
      <common-icon :type="parentItem.icon || ''" />
      <!-- 左侧  (一级菜单 && 子路径多个) -->
      <span>{{ showTitle(parentItem) }}</span>
    </template>
    <template v-for="(item, index) in children">
      <template v-if="item.children && item.children.length === 1">
        <!-- 左侧  (二级菜单子路径一个，一般不会走到这，会停在上一级) -->
        <side-menu-item v-if="showChildren(item)" :key="`963menu-${index}`" :parent-item="item" />
        <menu-item v-else :name="getNameOrHref(item, true)" :key="`951menu-${index}`">
          <common-icon :type="item.children[0].icon || ''" />
          <span>{{ showTitle(item.children[0]) }}</span>
        </menu-item>
      </template>
      <template v-else>
        <!-- 左侧  (二级菜单) -->
        <side-menu-item v-if="showChildren(item)" :key="`852menu-${index}`" :parent-item="item" />
        <menu-item v-else :name="getNameOrHref(item)" :key="`741menu-${index}`">
          <common-icon :type="item.icon || ''" />
          <span>{{ showTitle(item)  }}</span>
        </menu-item>
      </template>
    </template>
  </Submenu>
</template>

<script lang="ts">
import Mixin from './mixin';
import ItemMixin from './item-mixin';
import { Component, Mixins } from 'vue-property-decorator';

@Component
export default class SideMenuItem extends Mixins(ItemMixin, Mixin) {}
</script>
